.waiting-animation {
  opacity: 0;
}
.animation {
  animation-fill-mode: forwards;
  display: inherit;
  position: relative;
  overflow-x: hidden !important;
}

/* Animation Class Names */

.fadeIn {
  animation-name: fadeIn;
}
.slideLeft {
  animation-name: slideLeft;
}
.slideRight {
  animation-name: slideRight;
}

/* Animation Keyframes */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(99.9vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-99.9vw);
  }
  100% {
    transform: translateX(0);
  }
}
